<div class="body-back">
    <div class="fixed-header startup">
        <div class="notes-header app-header set-base-color5 set-color-white">
            <a href="#DailyExpenceSec" id="directMe" class="left-float home-page-link"><span class="glyphicon glyphicon-chevron-left set-color-white" aria-hidden="true"></span></a>
            New Dailytose
            <a href="" class="more-link pull-right"></a>
        </div>
    </div>
    <div class="form-content margin-top-35">
        <form role="form" class="" name="ExpenceValidation" novalidate>
            <div class="form-group">
                <label for="ExpenceFor" class="col-sm-2 col-md-2 col-lg-2 control-label">Expence For</label>
                <div class="col-sm-10 col-md-10 col-lg-10">
                    <span class="error-message" ng-show="ExpenceValidation.ExpenceTitleField.$error.maxlength"> max 30 character allowed. </span>
                    <span class="error-message" ng-show="ExpenceValidation.ExpenceTitleField.$dirty && ExpenceValidation.ExpenceTitleField.$error.required"> please enter expence date </span>
                    <input type="date" id="ExpenceFor" class="form-control" ng-model="ExpenceTitleField" name="ExpenceTitleField" ng-maxlength=30 id="ExpenceTitleField" placeholder="Expence Date">
                </div>
            </div>
            <div class="form-group">
                <label for="ExpenceDesc" class="col-sm-2 control-label">Expence Description </label>
                <div class="col-sm-10">
                    <textarea class="form-control-custom" id="ExpenceDesc" placeholder="Expence Description" ng-model="ExpenceDescField" name="ExpenceDescField" rows="3"></textarea>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 text-align-right set-btn-padding">
                <button type="submit" ng-click="fireAddNExpences()" ng-disabled="!ExpenceValidation.$valid" class="btn btn-default set-base-color5 set-color-white">
                    Add Dailytose
                </button>
            </div>            
        </form>
    </div>
</div>